.logo {
    height: 40px;
    overflow: hidden;

    .logo__arc {
        transform: rotate(-120deg)
    }
    
    .circle {
        margin-left: 14px;
        width: 30px;
        height: 30px;
        border: 4px solid #333;
        border-radius: 50%;
        position: relative;
    }

    .circle:before, .circle:after {
        content: '';
        position: absolute;
        width: 68%;
        height: 141%;
        background: #fff;
    }

    .circle:before {
        left: -4px;
        bottom: -4px;
        transform: translate(0 ,0);
        animation: before .8s .4s forwards;
    }

    .circle:after {
        right: -4px;
        top: -5px;
        transform: translate(0 ,0);
        animation: after .8s forwards;
    }

    .logo__yellow-arc {
        transform: translate(13px, -38px);
        text-align: left;

        .logo__arc {
            animation: yellowArcAnimation 1s forwards;
        }
    }

    // Large Logo styles

    &--large {
        .letterFromBottom {
            transform: translate(0, 160%);
            transition: .5s 1.2s;
        }
    
        .letterFromRight {
            opacity: 0;
            display: inline-block;
            transform: translateX(100%);
            transition: .5s 1.3s;
        }
    
        .letter-logo {
            opacity: 0;
            transition: 1s 1s;
    
            &__yellow {
                position: absolute;
                bottom: -5px;
                left: 0;
                opacity: 0;
                transform: rotate(90deg) translate(-20px,18px);
                transition: 1s .8s;
            }
        }
    }

    // -----------------
}

/// --- 

.logo {

    &--large-show {

        .logo--large {
            .letter-logo {
                opacity: 1;
        
                &__yellow {
                    opacity: 1;
                transform: rotate(0deg) translate(0,0);
                }
            }
    
            .letterFromBottom {
                transform: translate(0,0);
            }
    
            .letterFromRight {
                opacity: 1;
                transform: translateX(0); 
            }
        }
    }
}


/// ---

.left-bar--large {
    .logo {
        text-align: center;

        &--large {
            height: 46px;
            display: inline-block;
            overflow: hidden;
            transform: translateY(-80px);

            .letter-logo-content {
                display: inline-block;
                position: relative;
            }
        }

        .circle:before {
            transform: translate(0 ,-40px);
            animation: beforeDir .8s forwards;
        }
    
        .circle:after {
            transform: translate(0 ,40px);
            animation: afterDir .8s .5s forwards;
        }

        &__yellow-arc {
            .logo__arc {
                animation: yellowArcAnimationReverse 1s forwards;
            }
        }
    }
}