// Circle animations
@keyframes afterDir {
    from {transform: translate(0, 40px); }
    to { transform: translate(0, 0) }
}

@keyframes beforeDir {
    from {transform: translate(0, -40px); }
    to { transform: translate(0, 0) }
}

@keyframes after {
    from { transform: translate(0, 0) }
    to {transform: translate(0, 40px); }
}

@keyframes before {
    from { transform: translate(0, 0) }
    to {transform: translate(0, -40px);  }
}

@keyframes afterReverse {
    from {transform: translate(0, 0); }
    to {transform: translate(0, -40px); }
}

@keyframes beforeReverse {
    from { transform: translate(0, 0) }
    to {transform: translate(0, 40px);  }
}

// ---------------------------------------------

@keyframes zeroToFullWidth {
    from { width: 0 }
    to { width: 100% }
}

@keyframes zeroToFullHeight {
    from { height: 0 }
    to { height: 100% }
}

@keyframes yellowArcAnimation {
    from { transform: rotate(-120deg) }
    to { transform: rotate(0deg) }
}

@keyframes yellowArcAnimationReverse {
    from { transform: rotate(0deg); opacity: 1; }
    to { transform: rotate(-120deg); opacity: 0;}
}

@keyframes flyFromBottom {
    from { transform: translateY(500px); }
    to { transform: translateY(0); }
}

@keyframes fadeIn {
    from { transform: translateX(-100%);}
    to { transform: translateX(0);}
}

@keyframes fadeOut {
    from { transform: translateX(0); opacity: 1;}
    to { transform: translateX(-100%); opacity: 0;}
}

@keyframes scale {
    from { transform: scale(1.4);}
    to { transform: scale(1);}
}

@keyframes opacityToZero {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes opacityToOne {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes sliderContentTitle {
    from { transform: translateY(100%) }
    to { transform: translateY(0) }
}

@keyframes sliderBtn {
    from { opacity: 0; transform: translateX(50px) }
    to { opacity: 1; transform: translateX(0) }
}

@keyframes scrollDownIn {
    from { transform: translateY(40px) }
    to { transform: translateY(0) }
}

@keyframes scrollDonwTextIn {
    from { transform: translateY(10px); opacity: 0 }
    to { transform: translateY(0); opacity: 1 }
}

@keyframes scrollDownIconIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1 }
}

@keyframes scrollArrowAnimation {
    from { transform: translateY(-100%); visibility: hidden; }
    to { transform: translateY(120%); visibility: visible }
}

@keyframes leftbarCatsIn {
    from { transform: translateX(-100%) }
    to { transform: translateX(0) }
}